@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Princess+Sofia&display=swap');


.container-footer{
    height: 285px;
    background-color:#987284;
    display: flex;
    justify-content: space-around;
}

.logo {
    cursor: pointer;
    margin-left: 20px;
    margin-top: 80px;
    width: 250px;
    height: 30px;
    font-family: 'Princess Sofia';
    font-size: 50px;
    line-height: 50px;
    color: #EFEFEF;
}

.title {
    font-family: 'Roboto';
    font-size: 18px;
    color:#EFEFEF;
    text-transform: uppercase;
    margin-bottom: 15px;
}


.info-inicio,  .suporte {
    font-family: 'Roboto';
    margin-top: 80px;
    display: flex;
    flex-direction: column;
}

/* .item-footer   {
    perguntar para o lucas pq n funcionou
    text-decoration: none;

} */

.item-footer {
    font-size: 18px;
    color:#EFEFEF;
    margin-bottom: 5px;
}

.item-footer:hover {
    text-decoration: none;
    color:#EFEFEF;
}

.socialmedia {
    margin-top: 80px;
}
.redes-sociais{
    text-align: center;
}

.icone-contato {
    margin-right: 15px;
    color: white;
}

.icone-contato:hover {
    color: white;
}

.copyright {
    font-family: 'Roboto';
    font-size: 12px;
    color:#EFEFEF;
    text-align: center;
    background-color:#987284;
    margin-bottom: -15px;
}
