.div-campanha {
    background-color: yellow;
 }
 
 .card-campanha {
     display: flex;
     justify-content: space-around;
     width: 40%;
     background-color: rgb(240, 234, 234);
     padding: 20px;
 }
 
 .livro-campanha {
     width: 130px;
     height: 170px;
 }
 