.div-main {
    background-color: #F8F5F5;
    height: 800px;
}

.titulo-principal {
    padding-top: 50px;
    text-align: center;
}

.titulo-secundario {
    text-align: center;
    color: #474040;
    margin-bottom: 70px;
}
